<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="manifest" href="/favicon/manifest.json">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">Geek<img style="display:inline; height: 30px;" src="{{ "/ressources/geekocephale.png"}} "/>cephale</a></h1>

        <p style="font-size: 12px;">
          <code><span style="color:darkblue"><b>val</b></span> <span style="color:rebeccapurple">me</span> = SoftwareDevelopper(<br/>
            &nbsp;&nbsp;firstname = <span style="color:forestgreen"><b>"Martin"</b></span>, <br/>
            &nbsp;&nbsp;name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; = <span style="color:forestgreen"><b>"Menestret"</b></span>, <br/>
            &nbsp;&nbsp;email&nbsp;&nbsp;&nbsp;&nbsp; = <span style="color:forestgreen"><b>"<a href="mailto:martinmenestret@gmail.com" style="text-decoration: none; color:forestgreen;"><u>here</u></a>"</b></span><br/>
            &nbsp;&nbsp;twitter&nbsp;&nbsp; = <span style="color:forestgreen"><b>"<a href="https://twitter.com/mmenestret" style="text-decoration: none; color:forestgreen;"><u>@mmenestret</u></a>"</b></span><br/>
            )</code><br/><br/>
          Bienvenue ! <br /><br />
          Je suis développeur <strong>Scala</strong> depuis 2015 autour de la <strong>data ingénieurie</strong>, 
          consultant <a href="http://www.ebiznext.com/">Ebiznext</a>, 
          co-organisateur du <a href="https://www.meetup.com/fr-FR/Scala-Nantes-User-Group-SNUG/">SNUG</a> 
          et aspirant <strong>functionnal programmer</strong>.<br />
        </p>
        
        <!-- <p><a href="/home"><strong>Accueil</strong></a></p> -->
        <p><a href="/blog"><strong>Articles</strong></a></p>
        <!-- <p><a href="/about"><strong>Qui suis-je ?</strong></a></p> -->
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>